@{
    ViewData["Title"] = "About me";
}

<div class="text-center">
    <h1 class="display-4">About me</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gabriel</td>
                <td>Csharp</td>
            </tr>
        </tbody>
    </table>
</div>